<div class="container">
    <div class="row">
        <main class="col-md-14">

            <h1>Greetings!! This is the About Page</h1>
            <h2>About Me</h2>
            <p>
                Allow me to introduce myself: Dikshit Aryal. I have completed my bachlor in Business Information Technology. I currently study in Seneca college.
            </p>
        </main>
    </div>
</div>